/* إعدادات عامة */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c9c9cf;
    color: #5D5D5D;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column; /* ⬅️ هذا السطر هو اللي يخلي العناصر فوق بعض */
    align-items: center;    /* ⬅️ لتوسيط العناصر أفقياً */
    justify-content: center; 
    min-height: 100vh;      /* ⬅️ عشان يخلي الشاشة كاملة ويتوسط المحتوى صح */
    direction: rtl;
}
.page-img {
    max-width: 80%;  /* عشان تتجاوب مع شاشات الجوال */
    width: 500px;     /* تقدر تكبر أو تصغر الرقم حسب رغبتك */
    margin: 10px 0;
    object-fit: contain;
}

/* الحاوية الأساسية */
.container {
    width: 85%;
    max-width: 500px;
    background-color: #ababb0;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 16px #98989b;
}


/* الصناديق */
.box {
    background-color: #c9c9cf;
    border: 1px solid #5D5D5D;
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0;
}

/* حقل إدخال الاسم */
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 2px solid #5d5d5d;
    background-color: #ababb0;
    color: #000000;
    font-size: 1.7em;
    box-sizing: border-box;
    text-align: center;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    outline: none;
    border-color: #3F7F4F;
}

/* الأزرار */
button {
    width: 100%;
    background-color: #ffc300;
    color: #353535;
    border: none;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#EF8600
button:hover {
    background-color: #ffa900;
}

#join-btn {
    background-color: #ffc300; 
}

#join-btn:hover {
    background-color: #FFA900;
}

/* النصوص المميزة */
.highlight {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    margin-top: 5p;
    text-align: center;
}

/* حالة اللاعب */
.status {
    font-weight: bold;
    font-size: 2em;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    background-color: #c9c9cf;
}

.status.in { color: #3F7F4F;}
.status.out { color: #ff0000; }

/* قائمة اللاعبين */
.player-list {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
    max-height: 200px;
    overflow-y: auto;
}

.player-list li {
    background: #c9c9cf;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
